.photo {
    width: 120px;
    height: 120px;
    margin:5px;
    border: solid red;
    float: left;
}

.post {
    border:solid teal;
    margin: 15px;
    width: 90%;
    float: left;
}

.container {
    max-width: 1500px;
}

.messagebox {
    width:150px;
    height:150px;
}

.nameHead{
    padding-left: 25%;
}
#nametext {
    width:150px;
    height:30px
}